<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="../static/css/carrito.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="../static/imagenes/logo/logo_1.png" alt="logo" />
      </div>
      <nav class="menu">
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main class="contenedor">
      <div class="producto">
        <img
          src="../static/imagenes/productos/producto_1.jpeg"
          alt="producto"
        />

        <div class="info">
          <h3>Producto 1</h3>
          <p>$50.000</p>

          <div class="cantidad">
            <button onclick="restar()">-</button>
            <span id="cantidad">1</span>
            <button onclick="sumar()">+</button>
          </div>
        </div>

        <button class="eliminar">Eliminar</button>
      </div>

      <div class="total">
        <h2>Total: $<span id="total">50000</span></h2>
        <button class="pagar">Proceder al pago</button>
      </div>
    </main>

        <footer>
        <div class="logo_footer">
            <img src="../static/imagenes/index/Captura 1.PNG" alt="producto 1">
        </div>
        <div>
            <p>Email</p>
        </div>
        <div class="redes_footer">
            <a href="https://www.facebook.com/lovify"><img src="../static/imagenes/index/Facebook_Logo_(2019).png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/lovify.co?igsh=dWdreXltYW92MjZj"><img
                    src="../static/imagenes/index/logo_instagram.png" alt="instagram"></a>
            <a href="https://www.tiktok.com/@lovify"><img src="../static/imagenes/index/logo_tiktok.png"
                    alt="tiktok"></a>
        </div>
    </footer>

    <script src="carrito.js"></script>
  </body>
</html>
