<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovify</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="icon" href="../static/imagenes/logo/logo_1.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../static/imagenes/logo/logo_1.png" alt="logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="carrito">
            <a href="carrito.html">
                <button>🛒</button>
            </a>
        </div>
    </header>
    <div>
        <img src="../static/imagenes/index/imagen_principal.PNG" alt="imagen principal" class="imagen_principal">
    </div>
    <section class="sobre_nosotros">
        <h1>Sobre Nosotros</h1>
        <div class="marca_descripcion">
            <div class="foto_marca">
                <img src="../static/imagenes/index/foto_marca.jpeg" alt="foto_marca">
            </div>
            <div class="descripcion">
                <p>Nuestra historia comenzó en el 2020, en un momento donde el mundo se detuvo, pero el amor buscó
                    nuevas formas de seguir viajando. Lo que empezó como una manera de acortar distancias y compartir un
                    detalle dulce con quienes más extrañábamos, se convirtió en lo que somos hoy: una pastelería creada
                    para celebrar la conexión. Sabemos que un postre es mucho más que un antojo; es un abrazo enviado
                    por correo, una sorpresa que ilumina el día y el lenguaje universal para decir "estoy aquí contigo".
                    Por eso, cada una de nuestras creaciones está impregnada de ternura, con diseños cuidados hasta el
                    último detalle para que, al abrir una de nuestras cajas, la magia comience desde la vista.</p>
            </div>
        </div>
    </section>
    <section>
        <h2 class="productos_destacados">Productos Destacados</h2>
        
        <div class="contenedor_productos">
        <div class="producto">
            <h3>Producto 1</h3>
             <img src="../static/imagenes/productos/producto_1.jpeg" alt="producto 1">
            <p class="precio">$32.000</p>
            <button>Agregar al Carrito</button>
        </div>
        <div class="producto">
            <h3>Producto 1</h3>
            <img src="../static/imagenes/productos/producto_1.jpeg" alt="producto 1">
            <p class="precio">$32.000</p>
            <button>Agregar al Carrito</button>
        </div>
        <div class="producto">
            <h3>Producto 1</h3>
            <img src="../static/imagenes/productos/producto_1.jpeg" alt="producto 1">
            <p class="precio">$32.000</p>
            <button>Agregar al Carrito</button>
        </div>
        <div class="producto">
            <h3>Producto 1</h3>
            <img src="../static/imagenes/productos/producto_1.jpeg" alt="producto 1">
            <p class="precio">$32.000</p>
            <button>Agregar al Carrito</button>
        </div>
        </div>
        <div class="boton-todos">
        <a href="productos.html">Todos los productos</a>
    </div>
    </section>
    <footer>
        <div class="logo_footer">
            <img src="../static/imagenes/index/Captura 1.PNG" alt="producto 1">
        </div>
        <div>
            <p>Email</p>
        </div>
        <div class="redes_footer">
            <a href="https://www.facebook.com/lovify"><img src="../static/imagenes/index/Facebook_Logo_(2019).png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/lovify/"><img src="../static/imagenes/index/Facebook_Logo_(2019).png"
                    alt="instagram"></a>
            <a href="https://www.tiktok.com/@lovify"><img src="../static/imagenes/index/Facebook_Logo_(2019).png" alt="tiktok"></a>
        </div>
    </footer>
</body>

</html>