<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovify</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="icon" href="../static/imagenes/logo/logo_1.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../static/imagenes/logo/logo_1.png" alt="logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="carrito">
        <a href="carrito.html">
            <img src="../static/imagenes/carrito/carrito.png" alt="Carrito" class="icono-carrito">
        </a>
    </div>
    </header>
    <div>
        <img src="../static/imagenes/index/Lovify main.png" alt="imagen principal" class="imagen_principal">
    </div>
   <section class="sobre-nosotros">
    <div class="contenedor-sobre">
        
        <div class="imagen-sobre">
            <img src="../static/imagenes/index/Captura 1.PNG" alt="Lovify">
        </div>

        <div class="contenido-sobre">
            <h2>Sobre Nosotros</h2>
            <p class="subtitulo">Endulzamos momentos, conectamos corazones 💖</p>

            <p>
                Lovify nació en el 2020, en un momento donde el mundo se detuvo, pero el amor encontró nuevas formas de viajar.
                Lo que comenzó como una idea para acortar distancias, hoy es una experiencia llena de detalles únicos.
            </p>

            <p>
                Creamos cajas dulces, sorpresas y detalles personalizados que no solo se ven increíbles, sino que transmiten emociones reales.
                Cada producto está diseñado con amor, pensado para sorprender y hacer inolvidable cualquier ocasión.
            </p>


    </div>
</section>

    <h2 class="productos_destacados">Productos Destacados</h2>
    
    <div class="carousel-container">
        <button class="btn prev">&#10094;</button>

        <div class="contenedor_productos" id="contenedor-productos"></div>

        <button class="btn next">&#10095;</button>
    </div>

    <div class="boton-todos">
        <a href="productos.html">Todos los productos</a>
    </div>
</section>

    <footer>
        <div class="logo_footer">
            <img src="../static/imagenes/index/Captura 1.PNG" alt="producto 1">
        </div>
        <div>
            <p>Email</p>
        </div>
        <div class="redes_footer">
            <a href="https://www.facebook.com/lovify"><img src="../static/imagenes/index/Facebook_Logo_(2019).png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/lovify.co?igsh=dWdreXltYW92MjZj"><img
                    src="../static/imagenes/index/logo_instagram.png" alt="instagram"></a>
            <a href="https://www.tiktok.com/@lovify"><img src="../static/imagenes/index/logo_tiktok.png"
                    alt="tiktok"></a>
        </div>
    </footer>
    
    <div class="contenedor_productos" id="contenedor-productos"></div>


   <script src="../static/js/productos.js"></script>
   <script src="../static/js/renderproductos.js"></script>
   <script>
    mostrarProductos("contenedor-productos");
   </script>
   <script src="../static/js/carrusel.js"></script>
   
</body>
 
</html>