<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovify - Productos</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="icon" href="../static/imagenes/logo/logo_1.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
</head>

<body>
    <header class="hero">


    <div class="carousel">
        <div class="slide active">
            <img src="../static/imagenes/index/Detalles papa (1000 x 400 mm) (1).webp" alt="Banner 1">
        </div>
        <div class="slide">
            <img src="../static/imagenes/index/Detalles que enamoran.webp" alt="Banner 2">
        </div>
        <div class="slide">
            <img src="../static/imagenes/index/Detalles sustos (1000 x 400 mm).webp" alt="Banner 3">
        </div>
    </div>


    <div class="hero-overlay">
        <div class="topbar">
            <div class="logo">
                <img src="../static/imagenes/logo/logo_1.png" alt="logo">
            </div>

            <nav class="menu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>

            <div class="carrito">
                <a href="carrito.html">
                    <img src="../static/imagenes/carrito/carrito.png" alt="Carrito" class="icono-carrito">
                </a>
            </div>
        </div>
    </div>

</header>

    <section id="productos-dinamicos"></section>

    <footer>
        <div class="logo_footer">
            <img src="../static/imagenes/index/Lovify bear.png" alt="logo footer">
        </div>

        <div>
            <p>contacto@lovify.com</p>
        </div>

        <div class="redes_footer">
            <a href="https://www.facebook.com/lovify">
                <img src="../static/imagenes/index/Facebook_Logo_(2019).png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/lovify.co?igsh=dWdreXltYW92MjZj">
                <img src="../static/imagenes/index/logo_instagram.png" alt="instagram">
            </a>
            <a href="https://www.tiktok.com/@lovify">
                <img src="../static/imagenes/index/logo_tiktok.png" alt="tiktok">
            </a>
        </div>
    </footer>

    <script src="../static/js/productos.js"></script>
    <script src="../static/js/renderProductos.js"></script>
    <script src="../static/js/carrusel.js"></script>
    <script src="../static/js/banner.js"></script>
</body>

</html>