<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovify</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="icon" href="../static/imagenes/logo/logo_1.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../static/imagenes/logo/logo_1.png" alt="logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="carrito">
            <a href="carrito.html">
                <button>🛒</button>
            </a>
        </div>
    </header>
    <div>
        <img src="../static/imagenes/index/imagen_principal.PNG" alt="imagen principal" class="imagen_principal">
    </div>

    <section>

        <h2 class="titulo_productos">Vive el Amor</h2>
        <div class="contenedor_productos">
            <div class="producto">
                <h3>Galletas de Amor</h3>
                <img src="../static/imagenes/productos/vive el amor/amor_1.jpeg" alt="galletas de amor">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Dulces de Amor</h3>
                <img src="../static/imagenes/productos/vive el amor/amor_2.jpeg" alt="dulces de amor">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Tortas de Amor</h3>
                <img src="../static/imagenes/productos/vive el amor/amor_3.jpeg" alt="tortas de amor">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Postres de Amor</h3>
                <img src="../static/imagenes/productos/vive el amor/amor_4.jpeg" alt="postres de amor">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
        </div>

        <h2 class="titulo_productos">Dia de la Mujer</h2>
        <div class="contenedor_productos">
            <div class="producto">
                <h3>Galletas de la Mujer</h3>
                <img src="../static/imagenes/productos/dia de la mujer/mujer_1.jpeg" alt="galletas de la mujer">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Dulces de la Mujer</h3>
                <img src="../static/imagenes/productos/dia de la mujer/mujer_2.jpeg" alt="dulces de la mujer">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Tortas de la Mujer</h3>
                <img src="../static/imagenes/productos/dia de la mujer/mujer_3.jpeg" alt="tortas de la mujer">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Postres de la Mujer</h3>
                <img src="../static/imagenes/productos/dia de la mujer/mujer_4.jpeg" alt="postres de la mujer">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
        </div>


        <h2 class="titulo_productos">Dia de la Madre</h2>
        <div class="contenedor_productos">
            <div class="producto">
                <h3>Galletas de la Madre</h3>
                <img src="../static/imagenes/productos/dia de la madre/madre_1.jpeg" alt="galletas de la madre">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Dulces de la Madre</h3>
                <img src="../static/imagenes/productos/dia de la madre/madre_2.jpeg" alt="dulces de la madre">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Tortas de la Madre</h3>
                <img src="../static/imagenes/productos/dia de la madre/madre_3.jpeg" alt="tortas de la madre">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Postres de la Madre</h3>
                <img src="../static/imagenes/productos/dia de la madre/madre_4.jpeg" alt="postres de la madre">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
        </div>


        <h2 class="titulo_productos">Dia del Padre</h2>
        <div class="contenedor_productos">
            <div class="producto">
                <h3>Galletas del Padre</h3>
                <img src="../static/imagenes/productos/dia del padre/padre_1.jpeg" alt="galletas del padre">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Dulces del Padre</h3>
                <img src="../static/imagenes/productos/dia del padre/padre_2.jpeg" alt="dulces del padre">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Tortas del Padre</h3>
                <img src="../static/imagenes/productos/dia del padre/padre_3.jpeg" alt="tortas del padre">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Postres del Padre</h3>
                <img src="../static/imagenes/productos/dia del padre/padre_4.jpeg" alt="postres del padre">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
        </div>


         <h2 class="titulo_productos">Halloween</h2>
        <div class="contenedor_productos">
            <div class="producto">
                <h3>Galletas de Halloween</h3>
                <img src="../static/imagenes/productos/halloween/halloween_1.jpeg" alt="galletas de halloween">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Dulces de Halloween</h3>
                <img src="../static/imagenes/productos/halloween/halloween_2.jpeg" alt="dulces de halloween">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Tortas de Halloween</h3>
                <img src="../static/imagenes/productos/halloween/halloween_3.jpeg" alt="tortas de halloween">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Postres de Halloween</h3>
                <img src="../static/imagenes/productos/producto_1.jpeg" alt="postres de halloween">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
        </div>


        <h2 class="titulo_productos">Dia del Niño</h2>
        <div class="contenedor_productos">
            <div class="producto">
                <h3>Galletas del Niño</h3>
                <img src="../static/imagenes/productos/dia del niño/niño_1.jpeg" alt="galletas del niño">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Dulces del Niño</h3>
                <img src="../static/imagenes/productos/dia del niño/niño_2.jpeg" alt="dulces del niño">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Tortas del Niño</h3>
                <img src="../static/imagenes/productos/dia del niño/niño_3.jpeg" alt="tortas del niño">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="producto">
                <h3>Postres del Niño</h3>
                <img src="../static/imagenes/productos/dia del niño/niño_4.jpeg" alt="postres del niño">
                <p class="precio">$32.000</p>
                <button>Agregar al Carrito</button>
            </div>
        </div>

    </section>
    <footer>
        <div class="logo_footer">
            <img src="../static/imagenes/index/Captura 1.PNG" alt="producto 1">
        </div>
        <div>
            <p>Email</p>
        </div>
        <div class="redes_footer">
            <a href="https://www.facebook.com/lovify"><img src="../static/imagenes/index/Facebook_Logo_(2019).png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/lovify.co?igsh=dWdreXltYW92MjZj"><img
                    src="../static/imagenes/index/logo_instagram.png" alt="instagram"></a>
            <a href="https://www.tiktok.com/@lovify"><img src="../static/imagenes/index/logo_tiktok.png"
                    alt="tiktok"></a>
        </div>
    </footer>
</body>

</html>